
#top {
    position: relative;
    background-color: #000000;
    color: white;
    padding: 5px;
    height: 3em;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.tabla {
	border: 1px solid #1C6EA4;
  	background-color: #EEEEEE;
  	width: 100%;
  	text-align: left;
  	border-collapse: collapse;
}

.tabla td, .tablaUsuario th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.tabla tbody td {
  font-size: 13px;
}
.tabla tr:nth-child(even) {
  background: #D0E4F5;
}
.tabla thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
.tabla thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
.tabla thead th:first-child {
  border-left: none;
}


#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:hover {
    color: #c2dfef;
}

ul.menulist li {
    list-style: none;
    display:inline;
    margin: 1em;
}
